@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
}
body{
    color: white;
    font-family: 'Poppins', sans-serif; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    position: relative;
    height: 600px;
    background: url(./images/desktop/image-hero.jpg) no-repeat center/cover ;
}
header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0,0,0, 0.4);
}
.container{
    width: 360px;
    margin: auto;
}
.container h2{
    padding-top: 35px;
    position: relative;
    z-index: 1;
}
.box{
    position: relative;
    z-index: 1;
    margin: 40% auto;
    padding: 20px;
    border: 1px white solid;
}
.box h1{
    text-transform: uppercase;
    font-weight: 200;
    line-height: 1.1;
    font-size: 40px;
}
img{
    width: 100%;
}
.section{
    margin-top: 50px ;
}
.text{
    margin-top: 10%;
    color: black;
}
.text h1{
    font-size: 35px;
    text-align: center;
    opacity: 0.7;
    line-height: 1;
    font-weight: 200;
}
.text p{
    font-size: 14px;
    padding: 20px;
    text-align: center;
    line-height: 1.7;
    opacity: 0.8;
}
.section2 img{
    height: 100px;

}
.section2{
    margin-bottom: 5%;
}
.section2 h1{
    color: black;
    font-size: 40px;
    text-align: center;
    opacity: 0.7;
    line-height: 1;
    font-weight: 300;
    padding: 30px 0px;
}
.btn{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.btn button{
    font-size: 10px;
    padding: 8px 30px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 5px;
}
footer{
    background-color:  hsl(0, 0%, 0%)
    ;
}
footer h2{
    padding-top: 30px;
    text-align: center;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul{
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 30px;
}
footer li{
    padding-bottom: 5px;
}
footer a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
    font-size: 12px;
}

.icons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
i img{
    width: 20px;
}
footer i{
    padding-left: 10px;
}

footer p{
    text-align: center;
    opacity: .5;
    font-size: 12px;
    padding-bottom: 40px;
}
.nav ul{
    display: none;
}
.btn1{
    display: none;
}
.pc{
    display: none;
}
.fr p{
    display: none;
}


@media (min-width: 700px) {
    .container{
        width: 900px;
        margin: auto;
    }
    .nav ul{
        display: inline;
        margin-top: 40px;
    }
    .nav li{
        display: inline;
        padding-right: 25px;
        font-size: 14px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .box{
        position: relative;
        z-index: 1;
        width: 500px ;
        margin: 15% 0px;
        padding: 20px;
        border: 1px white solid;
    }
    .box h1{
        font-size: 50px;
        opacity: .7;
        text-align: left;
    }
    .vr{
        position: relative;
        height: 450px;
    }

    .img img{
        width: 600px;
    }
    .img{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .text{
        position: absolute;
        background-color: white;
        width: 350px ;
        height: 250px;
        padding: 30px;
        bottom: 0;
        right: 0;
    }
    .text p{
        text-align: center;
    }
    .create{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }
    .btn1{
        display: inline-block;
        height: 30px;
    }
    .btn1{
        font-size: 10px;
        padding: 8px 30px;
        background-color: white;
        border: 1px solid black;
        box-shadow: 1px 1px 5px;
    }
    .btn{
        display: none;
    }
    .mobile{
        display: none;
    }
    .pc img{
        width: 100%;
        height: 100%;
    }
    .pc{
        display: block;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .list li{
        display: inline;
        padding-right: 25px;
    }
    footer .p{
        display: none;
    }
   .f{
        display: flex;
        justify-content: space-between;
        align-items: center;
   }
   .fl h2{
    margin: 0;
    text-align: left;
   }
   .fr p{
        margin-top: 25px;
   }
   .icons{
    margin-top: 100px;
   }
}